@tailwind base;

@tailwind components;

@tailwind utilities;


body {
    box-sizing: border-box;
    background-color: #f2f2f2;
}

span {
    @apply text-red-500
}

@screen sm {
    .entrada {
        flex: 0 1 calc(50% - 1rem);
    }
}

@screen md {
    .entrada {
        flex: 0 1 calc(33% - 1rem);
    }  
}

.contenido h3{
    @apply text-center;
    @apply text-sm;
    @apply leading-6;
    @apply uppercase;
}
